<div id="powercontrol" class="input-group">
    <div data-bind="visible: rOneShow">
        <i class="icon-power-off"></i>
        <span data-bind="visible: rOneShow, text: rOneName"></span><br />
        <button class="btn btn-primary" data-bind="click: pwrOnRelayOne, visible: rOneShow, enable: isConnected()">{{ _('On') }}</button>
        <button class="btn btn-primary" data-bind="click: pwrOffRelayOne, visible: rOneShow, enable: isConnected()">{{ _('Off') }}</button><br />
        <br />
    </div>
    <div data-bind="visible: rTwoShow">
        <i class="icon-power-off"></i>
        <span data-bind="visible: rTwoShow, text: rTwoName"></span><br />
        <button class="btn btn-primary" data-bind="click: pwrOnRelayTwo, visible: rTwoShow, enable: isConnected()">{{ _('On') }}</button>
        <button class="btn btn-primary" data-bind="click: pwrOffRelayTwo, visible: rTwoShow, enable: isConnected()">{{ _('Off') }}</button><br />
    </div>
</div>
