<div id="powercontrol" class="input-group">
    <i class="icon-power-off" data-bind="visible: rOneShow"></i>
    <span data-bind="visible: rOneShow, text: rOneName"></span>
    <br />
    <button class="btn btn-primary" data-bind="click: pwrOnRelayOne, visible: rOneShow">{{ _('On') }}</button>
    <button class="btn btn-primary" data-bind="click: pwrOffRelayOne, visible: rOneShow">{{ _('Off') }}</button>
    <br />
    <br />
    <i class="icon-power-off" data-bind="visible: rTwoShow"></i>
    <span data-bind="visible: rTwoShow, text: rTwoName"></span>
    <br />
    <button class="btn btn-primary" data-bind="click: pwrOnRelayTwo, visible: rTwoShow">{{ _('On') }}</button>
    <button class="btn btn-primary" data-bind="click: pwrOffRelayTwo, visible: rTwoShow">{{ _('Off') }}</button>
    <br />
</div>
